.Answers {
    position: fixed;
    bottom:0;
    width: 100%;;
}

.container .answer {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}

.container .answer:last-child { border-bottom: none; }

/* .dialog-answer div h3 {
    display: none;
} */
