#menu-runner {
    position: fixed;
    right: 10px;
    top: 60px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

#menu-runner > * {
    margin: 5px 0;
}

.Runner {
    height: 100%;
    width: 100%;
}
