.Sms header {
    height: 55px;
    /* line-height: 35px; */
    background-color: #c44;
    color: white;
    display:flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.dialog-box {
    padding-bottom: 40px;
}

.height-fix {
    height: 100vh;
}

.Sms {
    background-color: #202020;
}

.Message .text{
    background-color: white;
}
